<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <h2>{{ user_profile.name }}</h2>
    <h2>{{ user_profile.email }}</h2>
    <h2>{{ user_profile.phone }}</h2>
    <hr>
    <br>
    <p>Summary</p>
    <p>{{user_profile.summary}}</p>
    <hr>
    <p>skills</p>
    <p>{{user_profile.skills}}</p>
    <hr>
    <p>Education</p>
    <ul>
      <li>Schooling: <{{user_profile.school}}</li>
        <li>{{user_profile.degree}} graduated from <{{user_profile.university}}</li>
    </ul>
    <hr>
    <p>Experience</p>
    <p>{{user_profile.previous_work}}</p>

  </body>
</html>
